body {
  margin: 0;
   font-family: 'Poppins', sans-serif;
  background: url('https://images.unsplash.com/photo-1499346030926-9a72daac6c63?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.login-box {
  background: linear-gradient(135deg, rgba(255,255,255,0.4), rgba(255,255,255,0.2));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.15);
  padding: 40px 30px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.3);
}

.login-icon {
  font-size: 2.5rem;
  background: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.subtext {
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 20px;
}

form input {
  display: block;
  width: 100%;
  padding: 12px 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 0.95rem;
  background: rgba(255, 255, 255, 0.7);
}

button {
  width: 100%;
  padding: 12px;
  background: #111;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.forgot-password {
  text-align: right;
  font-size: 0.85rem;
  margin-bottom: 15px;
}

.forgot-password a {
  color: #333;
  text-decoration: none;
}

.or {
  margin: 20px 0 10px;
  color: #555;
  font-size: 0.9rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}
